.cardProducto {
    border-radius: 10px;
    width: 250px;

    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.2s ease-in-out;
}

.cardProducto:hover {
    transform: scale(1.05);

}

.cardProducto img {
    width: 150px;
    object-fit: contain;
}

.cardProducto button {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;

    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cardProducto button:hover {
    background-color: darkgreen;
}